{layout './@settingsLayout.latte'}
{define #describtion}Groups{/define}

{define #area}

<div id="settings_labels">
	<div id="groups_heading" class="settings_heading">
		<span class="text">Skupiny</span>
	</div>

	<!-- CONTENT -->

</div>
{/define}