{layout './@settingsLayout.latte'}
{define #describtion}Labels{/define}

{define #area}

<div id="settings_labels">
	<div id="labels_heading" class="settings_heading">
		<span class="text">Štítky</span>
	</div>

	<!-- CONTENT -->

</div>
{/define}