<div id="viewDay" class="view_div">
	<div id="day_heading" class="viewHeading">
		<span class="text" style="color: #{$user->identity->color}">Dnes</span>
	</div>

	<div id="dayContent" class="viewContent">
		{foreach $events as $key => $event}	
			
		{/foreach}
	</div>
</div>