[unselectable]{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
}

.required{
	border: 1px solid red;
}

body{
	font-family: 'Bree Serif', serif;
}

input[type="text"], input[type="password"]{
	border: 1px solid #898989;
	height: 28px;
	width: 250px;
	padding: 0px 10px 0px 10px;
	outline: 0;
}

input[type="text"]:disabled, input[type="password"]:disabled{
	background: white;
	color: #636363;
}

.errors{
	position: absolute;
	right: calc(50% - 175px);
	margin-top:  140px;
	background: #F2686F;
	border: 1px solid #F2303A;
	border-radius: 5px;
	padding: 10px;
	width: 350px;
	text-align: center;
}

#reg_errors{
	position: absolute;
	right: calc(50% - 235px);
	margin-top: -85px;
	background: #F2686F;
	border: 1px solid #F2303A;	
	border-radius: 5px;
	padding: 10px;
	width: 400px;
	height: 60px;
	text-align: center;
}

.formErrors{
	color: #d01715;
	text-align: center;
	font-size: 14px;
	max-width: 250px;
	padding: 20px 0px 20px 0px;	
}

.submit_button{
	transition-duration: 0.1s;
	background-color: #6048f3;
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	color: white;
	text-shadow: 0px 2px 2px #662964;
	border: none;
}

.submit_button:hover {
	transition-duration: 0.1s;
	background-color: #3A2B92;
}

.submit_button:active {
	position: relative;
	top: 1px;
	outline: none;
}

header{
	height: 50px;
  	width: 100%;
  	position: fixed;
  	top: 0;
  	z-index: 10;
}

.menu-button{
	height: 100%;
	float: left;
	position: relative;
	padding: 0px 20px 0px 20px;
}

.menu-button .menu-heading{
	float: left;
	margin-top: 9px;
	margin-left: 15px;
}

.menu-button .menu-text{
	color: white;
	font-size: 20px;
}

.menu-icon{	
	margin-top: 13px;
	float: left;
	color: white;
	font-size: 18px;
}

#preferences{
	float: right;
	margin-right: 10px;
}

#search{
	float: left;
}

#search-div-input{
	display: none;
	float: right;
	padding: 14px;
}

#search-div-icon{
	transition-duration: 0.2s;
	float: left;
	padding: 15px;
	cursor: pointer;
}

#search-div-icon:hover .search-icon{
	transition-duration: 0.2s;
	color: #c7c7c7;
}

input[type=text].search-input{
    height: 22px;
    outline: 0;
    font-size: 12px;
    width: 180px;
}

.search-icon{
	color: white;
	font-size: 20px;
}

#user-photo-small{
	float: left;
	cursor: pointer;
	padding: 7px;
}

#user-photo-small:hover > img{
	box-shadow: black 0px 1px 5px;
}

#user-photo-small .profile-photo-small{
	height: 35px;
	border-radius: 50px;
}

#user-preferences{
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	background: #fafafa;
	margin-top: 60px;
	margin-right: 22px;
	width: 230px;
  	min-height: 301px;
}

#user-preferences #user-photo-big{
	margin: 15px 0px 0px 8px;
	left: calc(50% - 45px);
	position: absolute;
}

#user-preferences #user-photo-big img{
	width: 80px;
	height: 80px;
	border-radius: 50px;
}

#user-preferences #user-info{
	text-align: center;
	margin-top: 105px;
}

#user-preferences #user-info .name{
	font-size: 18px;
}

#user-preferences #user-info #user-info-email{
	padding: 5px 0px 5px 0px;
}

#user-preferences #user-info .email{
	color: #8b8b8b;
	font-size: 12px;
}

#user-preferences #user-buttons{
	margin-top: 15px;
	width: 230px;
}

#user-preferences #user-buttons div{
	border-top: 1px solid #9f9f9f;
}

#user-preferences #user-buttons .last-button{
	margin-top: 41px;
}

#user-preferences #user-buttons .user-button{
	transition-duration: 0.05s;
	padding: 11px 0px 11px 15px;
	font-size: 14px;
	width: 230px;
	text-decoration: none;
	color: #3b3b3b;
	position: absolute;
}

#user-preferences #user-buttons .user-button:hover{
	transition-duration: 0.05s;
	background: rgba(0,0,0,0.1);
}

.user-button .glyphicon{
	padding-right: 10px;
}

nav{
	overflow-x: auto;
	height: calc(100% - 50px);
	width: 252px;
	float: left;
	background: #fafafa;
	position: absolute;
}

#menu{
	padding-top: 10px;
	color: #535353;
}

#menu .group{
	border-bottom: 1px solid #dcdcdc;
}

.heading{
	transition-duration: 0.1s;
	padding: 10px 0px 10px 20px;
	position: relative;
	width: 250px;
	font-size: 15px;
}

.heading:hover{
	transition-duration: 0.1s;
	background: rgba(0,0,0,0.1);
}

.big_button{
	padding: 10px 0px 10px 20px;
	position: relative;
	width: 250px;
	font-size: 15px;
	max-width: 250px;
}

.big_button:hover{
	background: rgba(0,0,0,0.1);
}

.big_button .glyphicon{
	margin-right: 10px;
}

.heading .heading_text .glyphicon{
	color: #323232;
	margin-right: 10px;
}

.glyphicon-menu-down{
	float: right;
	margin-right: 20px;
}

#menu .list-div{
	margin-left: -40px;
}

#menu .list-div .glyphicon{
	margin-right: 10px;
}

#menu .list{
	list-style-type: none;
}

#menu .list .item{
	padding: 10px 0px 10px 20px;
	font-size: 15px;
	cursor: pointer;
}

#menu .item:hover{
	background: rgba(0,0,0,0.1);
}

#menu .list #create_new_label_form{
	padding: 10px 0px 10px 20px;
	font-size: 16px;
}

#menu a{
	color: #535353;
	text-decoration: none;
}

#menu a:hover{
	color: #535353;
	text-decoration: none;
}

#menu a:active{
	color: #535353;
	text-decoration: none;
}

#menu a:link{
	color: #535353;
	text-decoration: none;
}

#menu a:visited{
	color: #535353;
	text-decoration: none;
}

#create_new_label_form {
	display: none;
}

#menu_label_input{
	width: 150px;
	border: none;
	background: #fafafa;
}

/*footer{
	bottom: 0;
	position: absolute;
	padding: 10px 0px 15px 20px;
	border-top: 1px solid #9f9f9f;
	width: 250px;
}

footer .name{
	font-size: 18px;
	color: #6048f3;
}

footer .copyright{
	font-size: 13px;
	color: #8b8b8b;
}*/

main{	
	width: 100%;
	background: #F8F8F8;
	height: 100%;
	padding: 50px 0px 0px 0px;
}

#main2{
	position: absolute;
	top:0; bottom:0; left:0; right:0;
}

#calendar{
	height: 75%;
	width: 55%;
}

#calendar-table{
	width: 100%;
	height: 100%;
	table-layout: fixed;
	text-align: center;
}

#calendar-table #days td{
	border: 1px solid black;
	cursor: pointer;
}

#calendar-table #days td:hover{
	background: rgba(0,0,0,0.2);
}

#calendar-table #day-names td{
	height: 25px;
	border: none;
	cursor: default;
}

#main_body{
	margin-left: 285px;
	margin-top: 25px;
}

#add_event{
	position: absolute;
	top: calc(50% - 200px);
	right: calc(50% - 375px);
	width: 750px;
	height: 400px;
	background: white;
	z-index: 13;
	display: none;
}

#add_event_table_div{
	padding-left: 20px;
}

#add_eventHeading {
	text-align: center;
	padding: 20px 0px 30px 0px;
}

#add_eventHeading .text{
	font-size: 26px;
}

#add_event_table .add_eventTrText{
	width: 120px;
}

#add_event_table tr{

}

#add_event_table input.input{
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #dcdcdc;
	background: rgba(0,0,0,0.04);
	font-size: 15px;
}

#add_event_table input.datepicker, #add_event_table input.timepicker{
	width: 110px;
}

#add_event_table #eventsLabelsChooser{
	width: 200px;
	font-size: 15px;
}

.add_eventTrText .text{
	font-size: 17px;
}

#including_heading{
	float: left;
	max-width: 100px;
	min-width: 100px;
}

#choose_view_day_buttons{
	float: left;
}

#including_heading .text{
	font-size: 26px;
}

#viewDiv{
	padding-top: 90px;
	z-index: -1;
}

#viewContent{
	overflow-y: scroll;
	width: calc(100% - 20px);
	height: calc(100vh - 170px);
}

#choose_view_day_buttons{
	margin-top: -10px;
	margin-left: 30px;
}

#choose_view_day_buttons .div{
	float: left;
}

#choose_view_day_buttons .button{
	transition-duration: 0.05s;
	background: rgba(0,0,0,0.05);
	color: black;
	padding: 7px 10px 7px 10px;
	margin-top: 8px;
	font-size: 14px;
	margin-left: 1px;
}

#choose_view_day_buttons #left{
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

#choose_view_day_buttons #right{
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}

#choose_view_day_buttons #date{
	margin: 15px 0px 0px 20px;
}

#choose_view_day_buttons #date .text{
	font-size: 16px;	
}

#choose_view_day_buttons .button:hover{
	transition-duration: 0.05s;
	background: rgba(0,0,0,0.1);
}

#viewContent::-webkit-scrollbar {
    width: 6px;
}

#viewContent::-webkit-scrollbar-thumb { 
	background: #c2c2c2;
}

.agendaDay{
	border-bottom: 1px solid #B3B3B3;
	margin-bottom: 20px;
}

.agendaDay a{
	color: black;
	text-decoration: none;
}

.agendaDay a:hover{
	color: black;
	text-decoration: none;
}

.agendaDay a:active{
	color: black;
	text-decoration: none;
}

.agendaDate{
	transition-duration: 0.01s;
	background: rgba(0,0,0,0.1);
	padding: 2px 50px 2px 50px;
	width: 175px;
	cursor: pointer;
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 5px;
}

.agendaDate:hover{
	transition-duration: 0.01s;
	background: rgba(0,0,0,0.2);
}

.agendaDate .text{
	font-size: 14px;
}

.events{
	margin-top: 25px;
}

.event{
	cursor: pointer;
	padding-top: 10px;
	padding-bottom: 10px;  
	margin-top: 10px;
	margin-bottom: 10px; 
}

.event:hover{
	background: rgba(0,0,0,0.05);
}

.event_table tr{
	font-size: 16px;
}

.event_table .time{
	width: 150px;
	text-align: center;
}

.event_table .label_name{
	width: 200px;
}

.event_table .label_name .glyphicon{
	padding-right: 15px;
}

#choose_view_buttons{
	position: absolute;
	right: 0;
	margin-right: 20px;
}


#viewDayButton{
	border-top-left-radius:26px;
	border-bottom-left-radius:26px;
}

#viewAgendaButton{
	border-top-right-radius:26px;
	border-bottom-right-radius:26px;
}

.viewButton{
	transition-duration: 0.01s;
	display: inline-block;
	cursor: pointer;
	color: #4f4f4f;
	font-size: 15px;
	padding: 5px 10px;
	text-decoration: none;
	width: 90px;
	outline: 0;
	background: rgba(0,0,0,0.05);
}

.viewButton:hover{
	transition-duration: 0.01s;
	background: rgba(0,0,0,0.1);
}

.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}


#save_new_event_button{
	padding: 3px 25px 3px 25px;
	font-size: 20px;
}

#main_add_button{
	position: absolute;
	padding: 16px 16px 14px 18px;
	border-radius: 40px;
	bottom: 0;
	right: 0;
	margin: 0px 30px 30px 0px;
	cursor: pointer;
}

#main_add_button .glyphicon{
	color: white;
	font-size: 20px;
}

/* FORMS */

#logo_icon{
	width: 90px;
	height: 90px;
	position: absolute;
	right: calc(50% - 45px);
	margin-top: 30px;
}

#logo_icon .logo_icon_img{
	width: 90px;
	height: 90px;
}

.form_main{
	position: absolute;
	right: calc(50% - 150px);
	margin-top: 200px;
}

.form{
	background: white;
	box-shadow: black 0px 1px 5px;
	border-radius: 3px;
	padding: 10px 20px 5px 20px;
	width: 300px;
}

.form .glyphicon{
	color: #323232;
	font-size: 16px;
}

.form .input{
    height: 45px;
    border-radius: 2px;
    border: 0;
    outline: 0;
    padding: 0px 0px 0px 15px;
    font-size: 16px;
    width: 237px;
    border-radius: 0px;
}

.form .form_input{
	border-bottom: 1px solid #9f9f9f;
	height: 50px;
	padding-top: 4px;
}

.form .form_button{
	margin: 10px 0px 10px 0px;
}

.form .form_button .submit_button{
	width: 100%;
	height: 35px;
	font-size: 16px;
}

.account{
	position: absolute;
	width: 300px;
	text-align: center;
	right: calc(50% - 150px);
}

#new_account{
	margin-top: 530px;
}

#have_account{
	margin-top: 450px;
}

#forgotten_passwd{
	margin: 10px 0px 10px 0px;
}

#forgotten_passwd_instructions{
	text-align: center;
	margin: 10px 0px 10px 0px
}

#forgotten_passwd #email{
	border-top: 1px solid #9f9f9f;
}

.insctructions_header{
	color: #454545;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.insctructions_smaller{
	color: #767676;
	font-size: 14px;
}

#stay_logged label{
	font-weight: normal;
}

#stay_logged label input{
	margin-right: 10px; 
	margin-top: 15px;
}

#reg_form #name .input{
	width: 117px;
}


/* Registration */

#registration{
	position: absolute;
	left: calc(50% - 340px);
	margin-top: 220px;
}

#reg_information{
	float: right; 
	padding-left: 40px;
	border-left: 1px solid #9f9f9f;
	width: 275px;
}

#reg_form{
	float: left;
	margin-right: 40px;
	width: 300px;
}

#reg_icons{
	float: left;
}

#reg_text{
	margin-left: 60px;

}

#reg_information .glyphicon{
	font-size: 35px;
	margin-bottom: 60px;
}

#labeling_text{
	margin-top: 25px;
}

#sharing_text{
	margin-top: 15px;
}

.info_text .info_heading{
	font-weight: bold;
	color: #6048f3;
	font-size: 17px;
}

.info_text .text{
	text-align: justify;
}

/* Settings */

#settings_body{
	overflow-y: scroll;
	font-size: 16px;
}

#settings_body .button{
	display: inline-block;
	background-color: rgba(0,0,0,0.1);
	cursor: pointer;
	color: #3f3f3f;
	text-decoration: none;
	border: none;
	width: 150px;
	height: 27px;
	font-size: 16px;
	border-radius: 3px;
}

#settings_body .button:hover{
	border: 1px solid #3f3f3f;
}

#settings_body .button:disabled{
	background-color: rgba(0,0,0,0.3);
}

#settings_body .button:disabled:hover{
	border: none;
}

#settings_body .button:active{
	outline: none;
}

#settings_body .last_passwd {
	width: 120px;
}

#settings_body #change_passwd_div{
	margin-top: 10px;
	margin-left: 85px;
}

#settings_body #storno_passwd_but{
	margin-left: 10px;
}

.big_button{
	width: 260px;
}

#import_backup_but{
	margin-left: 15px;
}

#settings_nav{
	background: rgba(0,0,0,0.05);
	box-shadow: none;
}

#settings_nav .active{
	background: rgba(0,0,0,0.1);
}

#menu-icon-settings{
	border: 2px solid white;
	border-radius: 30px;
	padding: 5px 8px 5px 8px;
	margin-top: 8px;
	cursor: pointer;
	font-size: 14px;
}

#menu-icon-settings .glyphicon-arrow-left{
	font-size: 15px;
}

#menu-icon-settings:hover{
	color: #c7c7c7;
	border: 2px solid #c7c7c7;
}

#settings_body{
	width: calc(100% - 250px);
	height: 100%;
	margin-left: 250px; 
	padding: 30px 0px 0px 60px;
}

.settings_container{
	margin-bottom: 60px;
}

.heading_smaller{
	margin: 10px 0px 10px 0px;
}

.heading_smaller .text{
	font-size: 25px;
}

#user_profile img{
	width: 200px;
	height: 200px;	
	border-radius: 100px;
	cursor: pointer;
}

.change_data_tab tr{
	height: 36px;
}

.change_data_tab .button_td{
	width: 170px;
	text-align: right;
}

.change_data_tab .description{
	width: 90px;
	font-weight: bold;
}

.change_data_tab #change_passwd_but{
	width: 250px;
}

.change_data_tab #storno_name_but, .change_data_tab #change_name_but_save{
	width: 120px;
}

.change_data_tab .save{
	margin-right: 6px;
}

#colors{
	margin-top: 10px;
}

#colors_tab .cell{
	width: 75px;
	height: 75px;
	margin: 3px;
}

#colors_tab .active, #colors_tab .cell:hover{
	width: 77px;
	height: 77px;
	margin: 1px 1px 1px 1px;
	border: 2px solid #444444;
}

#user_backup #description{
	width: 500px;
	text-align: justify;
	margin-top: 15px;
}

#labels_list_edit{
	margin-top: 20px;
}

.label_item{
	padding: 10px 0px 10px 0px;
	background: rgba(0,0,0,0.05);
	max-width: 460px;
	margin-top: 5px;
	min-height: 42px;

}

.label_item .tag_icon{
	float: left;
	padding: 4px 20px 5px 20px;
}

.label_item .label_name {
	margin-top: -3px;
	width: 260px;
	float: left;
}

.label_item .label_button{
	transition-duration: 0.05s;
	cursor: pointer;
}

.label_item .label_button:hover{
	transition-duration: 0.05s;
	background: rgba(0,0,0,0.1);
}

.label_item .label_href{
	padding: 10px 14px 11px 12px;
	margin-left: -5px;
}

.label_item .label_icon{
	padding: 13px;
	margin-top: -11px;
	margin-left: -3px;
	margin-bottom: -11px;
}

#add_label_button{
	tansition-duration: 0.1s;
	width: 460px;
	cursor: pointer;
	position: absolute;
	margin-top: 20px;
}

#add_label_button:hover{
	tansition-duration: 0.1s;	
	background: rgba(0,0,0,0.03);
}

#add_label_button .tag_icon{
	float: left;
	padding: 12px 10px 10px 30px;
}

#add_label_button #add_label_text{
	float: left;
	padding: 10px;
}

#add_label_form {
	position: absolute;
	width: 460px;
	margin-top: 20px;
	background: rgba(0,0,0,0.03); 
	display:none;
}

.edit_label_storno{
	margin-top: -10px;
}

#add_label_form #storno_icon, #add_label_choose_color_button{
	transition-duration: 0.1s;
	float: left;
	padding: 14px;
	cursor: pointer;
}

#add_label_form #storno_icon:hover, #add_label_choose_color_button:hover{
	transition-duration: 0.1s;
	background: rgba(0,0,0,0.05);
}

.edit_label_storno {
	transition-duration: 0.1s;
	padding: 12px;
	cursor: pointer;
	float: left;
}

.edit_label_storno:hover {
	transition-duration: 0.1s;
	background: rgba(0,0,0,0.05);
}

#add_label_submit_div{
	float: left;
	margin-top: 10px;
	margin-left: -20px;
}

#add_label_form #add_label_input_name_div{
	margin-top: 6px;
	margin-right: 21px;
	margin-left: 50px;
	float: left;
}

#add_label_submit{
	transition-duration: 0.1s;
    position: absolute;
    margin-top: -29px;
    margin-left: -12px;
    width: 41px;
    height: 41px;
    background: none;
    border: none;
}

#add_label_submit:hover{
	transition-duration: 0.1s;
	background: rgba(0,0,0,0.05);
}

input.edit_label_name, input#add_label_name_input, input.user_settings_input{
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #dcdcdc;
	background: none;
	margin-left: -5px;
}

input.edit_label_name:disabled{
	background: none;
	border: none;
	color: #3d3d3d;
}

.edit_label_storno{
	margin-left: 5px;
}

.label_remove{
	color: #3d3d3d;
}

.label_remove:hover{
	color: #3d3d3d;
}

#dark{
	background: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 12;
	display: none;
}

#choose_color_window{
	width: 500px;
	height: 500px;
	position: absolute;
	z-index: 13;
	background: white;
	left: calc(50% - 250px);
	top: calc(50% - 250px);
	padding: 90px 50px 90px 50px;
	display: none;
}

#choose_color_window #cancel_choosing_label_color{
	position: absolute;
	right: 0;
	padding: 12px;
	margin-right: 5px;
	margin-top: 5px;
	cursor: pointer;
}

#choose_color_window #cancel_choosing_label_color:hover{
	background: rgba(0,0,0,0.1);
}

.edit_label_submit_div{
	display: none;
	float: left;
	margin-left: -20px;
}

.edit_label_submit_class{
	transition-duration: 0.1s;
    position: absolute;
    margin-top: -29px;
    margin-left: -12px;
    width: 41px;
    height: 41px;
    background: none;
    border: none;
}

.edit_label_submit_class:hover{
	transition-duration: 0.1s;
	background: rgba(0,0,0,0.05);
}

.glyphicon_submit{
	display: inline-block;
    position: absolute;
    margin-left: 30px;
    padding: 3px 10px 0px 0px;
}

/* HOME */

#header_home{
	background: white;
}

#header_home #left_container .header_logo{
	width: 40px;
	height: 40px;
}

#header_home .menu-icon{
	margin-top: 5px;
}

#header_home .menu-text{
	color: #3d3d3d;
}

#home_poster{
	height: 450px;
	width: 100%;
	position: absolute;
	background: #6048f3;
}

#right_container{
	float: right;
	margin-top: 5px; 
}

.menu_link{
	transition-duration: 0.1s;
	border-radius: 3px;
	cursor: pointer;
	padding: 8px 20px 8px 20px;
	background: black;
	font-size: 15px;
	float: left;
	margin-right: 10px;
}

.menu_link:hover{
	transition-duration: 0.1s;
	text-decoration: none;
}

#signin_link{
	transition-duration: 0.1s;
	color: #3d3d3d;
	background: #e6e6e6;
	border: 1px solid #a3a3a3;
}

#signin_link:hover{
	transition-duration: 0.1s;
	background: #bdbdbd;
}

#registration_link{
	transition-duration: 0.1s;
	color: white;
	background: #6048f3;
	border: 1px solid #3D2DA1;
}

#registration_link:hover{
	transition-duration: 0.1s;
	color: white;
	background: #4935C4;
}

#links{
	float: left;
	margin-left: 10px;
}

.link{
	transition-duration: 0.1s;
	float: left;
	padding: 13px 20px 10px 20px; 
	font-size: 17px;
	color: #3d3d3d;
}

.link:hover{
	transition-duration: 0.1s;
	color: #6048f3;
}
